*{
    margin: 0;
    padding: 0;
}
#background{
    color:hsl(0, 0%, 95%);
    padding: 10% 5%;
    position: relative;
}
#column-cards-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
}

.column-card-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.column-card{
    padding: 45px;
    box-sizing: border-box;
    width: 300px
}

.column-card .body{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

.leading-vector-images{
    margin-bottom: 25px;
}

.column-card .main-headings{
    margin-bottom: 25px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;   
   
}

.column-card .learn-more-buttons{
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    margin: 25px 0 15px 0;
    
}

#sedans-card{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

#sedans-card .learn-more-buttons{
    color: hsl(31, 77%, 52%);
}


#suv-card{
    background-color: hsl(184, 100%, 22%);
}

#suv-card .learn-more-buttons{
    color: hsl(184, 100%, 22%);
}

#luxury-card{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

#luxury-card .learn-more-buttons{
    color: hsl(179, 100%, 13%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -128.385px;
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution {
    color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 1050px) {
    #column-cards-container{
        
        flex-direction: row;
        border-radius: 10px;
        justify-content: center;
        width: 900px;
    }

    #sedans-card{
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 0 0 10px;
    }
    
    #luxury-card{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 10px 10px 0;
    }

    .column-card .learn-more-buttons{
        margin-top: 30%;
        
    }

    #sedans-card .learn-more-buttons:hover{
        background-color: hsl(31, 77%, 52%);
        border-color: hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        border-style: solid;
        border-width: 1px;
    }
    
    #suv-card .learn-more-buttons:hover{
        background-color: hsl(184, 100%, 22%);
        border-color: hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        border-style: solid;
        border-width: 1px;
    }
      
    #luxury-card .learn-more-buttons:hover{
        background-color: hsl(179, 100%, 13%);
        border-color: hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        border-style: solid;
        border-width: 1px;
    }
    
    #background{
        height: 100vh;
        box-sizing: border-box;
    }
}
    
